/* 구글 폰트에서 가져온 Open Sans 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* 브라우저기본제공 css를 초기화한다.  */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/noticeDot.css";
@import "components/icon-row.css";

/*  Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";

body {
  font-family: "Open Sans", sans-serif; /* 구글 폰트에서 가져온 Open Sans 폰트 적용 */
  /*height: 1000vh;  스크롤 확인 */
  padding-top: 25px;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
